* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: neu;
}

html,
body {
  height: 100%;
  width: 100%;
}

#page1 {
  min-height: 100vh;
  min-width: 100%;
  background-color: #edf7fc;
  position: relative;
}

#nav {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #b9e2f5;
}
#nav img {
  margin-left: 28px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 1.5em;
  height: 90px;
  letter-spacing: 1px;
  border-radius: 55%;
}

#navul {
  display: flex;
  align-items: center;
  gap: 1vw;
  list-style-type: none;
  text-decoration: none;
}

#navul li {
  padding: 10px 20px;
  border: 1px solid #0000003c;
  border-radius: 50px;
  font-weight: 500;
  color: #000000bb;
  transition: all ease 0.4s;
  position: relative;
  font-size: 18px;
  overflow: hidden;
}

#navul li a {
  text-decoration: none;
}

#navul li::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  left: 0;
  bottom: -100%;
  border-radius: 10%;
  transition: all ease 0.4s;
}

#navul li:hover::after {
  bottom: 0;
  border-radius: 0;
}

#navul li a {
  color: #000000bb;
  text-decoration: none;
  position: relative;
  z-index: 9;
}

#navul li:hover a {
  color: #fff;
}

.carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.carousel-item {
  min-width: 100%;
}

.carousel-video {
  width: 100%;
  height: auto;
}

.videoannimation {
  position: relative;
  border-radius: 20px;
  margin-top: 1vw;
  width: 100%;
  overflow: hidden;
}

.scrolltext {
  overflow-x: auto;
  white-space: nowrap;
  font-family: 'Roboto', sans-serif;
}

.scrolltext::-webkit-scrollbar {
  display: none;
}

.container {
  white-space: nowrap;
  display: inline-block;
  animation-name: move;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.scrolltext h3 {
  font-size: 4vw;
  display: inline-block;
}

.scrolltext h3 i {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  background-color: #294b75;
  margin: 1vw 2vw;
}

@keyframes move {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

#loader {
  height: 100%;
  width: 100%;
  background-color: black;
  position: fixed;
  z-index: 999;
  top: 0;
  transition: all ease 0.8s;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loader h1 {
  font-size: 8vw;
  color: transparent;
  background: linear-gradient(to right, red, orangered);
  -webkit-background-clip: text;
  position: absolute;
  opacity: 0;
  animation-name: load;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: linear;
}
#loader h1:nth-child(2) {
  animation-delay: 2s;
}
#loader h1:nth-child(3) {
  animation-delay: 3s;
}

#loader h1:nth-child(4) {
  animation-delay: 4s;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
